img{
  width: 180px;
  height: 175px;
  border-radius: 50%;
}

.images:hover{
	background: yellow;
}

.card {
	border: 5px solid #6b0101;
    border-radius: 5px;
}


.card:hover {
	border: 5px solid blue;
    border-radius: 5px;
    width: 101%;
}